.terminal {
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  overflow: auto; /* Ensure the scrollbar appears if content overflows */
}

.App {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/static/img/desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Scrollbar styling */
.xterm-viewport::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrolling */
}

.xterm-viewport::-webkit-scrollbar-track {
  opacity: 0;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  opacity: 0;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Color when hovering over the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}
